.DS_Store
/.idea/dictionaries
/.idea/misc.xml
/.idea/PyToolsAL.iml
/.idea/vcs.xml
/.idea/workspace.xml
/pytoolsAL/__pycache__
/pytoolsAL.egg-info/requires.txt
/.idea/modules.xml
/pytoolsAL.egg-info
/.idea
/.idea/inspectionProfiles/profiles_settings.xml
/pytoolsAL.egg-info/dependency_links.txt
/pytoolsAL.egg-info/PKG-INFO
/pytoolsAL.egg-info/SOURCES.txt
/pytoolsAL.egg-info/top_level.txt
